.title {
    background: var(--black);
    align-self: flex-start;
    color: var(--greenBlue);
    font: var(--headline5);
    text-decoration: none;
    box-shadow: -4px 4px 0 var(--white);
    padding-block-start: 4px;
    padding-block-end: 4px;
    padding-inline-start: 8px;
    padding-inline-end: 8px;
    text-transform: uppercase;
}